force-app/main/default/flows/contactCreationWizardASSave_mangal_bhai.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>contactCreation</name>
        <label>contactCreation</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>myVariables.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myVariables.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myVariables.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>salutations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myVariables.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>birthDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <dynamicChoiceSets>
        <name>salutation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>contactCreationWizardASSave_mangal_bhai {!$Flow.CurrentDateTime}</interviewLabel>
    <label>contactCreationWizardASSave_mangal_bhai</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>contactCreationWindow</name>
        <label>contactCreationWindow</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>contactCreation</targetReference>
        </connector>
        <fields>
            <name>firstName</name>
            <dataType>String</dataType>
            <fieldText>firstName</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lastName</name>
            <dataType>String</dataType>
            <fieldText>lastName</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>salutations</name>
            <choiceReferences>salutation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>salutations</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>birthDate</name>
            <dataType>Date</dataType>
            <fieldText>birthDate</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcomescreen</name>
        <label>welcomescreen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>contactCreationWindow</targetReference>
        </connector>
        <fields>
            <name>welcomeMyScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 17, 17);&quot;&gt;welcome to contact wizard&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>welcomescreen</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>myVariables</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
