force-app/main/default/flows/test_contact_flow_3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>test_contact_assignment_ia</name>
        <label>test contact assignment_il</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>test_contact_var_ia.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>first_name_ia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>test_contact_var_ia.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>last_name_ia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>test_contact_var_ia.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email_ia.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>test_contact_var_ia.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone_ia.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>test_contact_records_creation_ia</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>test contact flow 3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test contact flow 3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>test_contact_records_creation_ia</name>
        <label>test contact records creation_il</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>end_screen_ia</targetReference>
        </connector>
        <inputReference>test_contact_var_ia</inputReference>
    </recordCreates>
    <screens>
        <name>end_screen_ia</name>
        <label>end screen_il</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>test_contact_created_successfully_ia</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;test_contact_created_successfully_ display text  &lt;/em&gt;&lt;/strong&gt;&lt;a href=&quot;https://irshad3-dev-ed.develop.lightning.force.com/lightning/r/Test_Contact__c/{!test_contact_var_ia.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;link&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>testcontact_ia</name>
        <label>testcontact_il</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>test_contact_assignment_ia</targetReference>
        </connector>
        <fields>
            <name>welcome_screen_ia</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(10, 247, 97);&quot;&gt;&lt;em&gt;Welcome&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>first_name_ia</name>
            <dataType>String</dataType>
            <fieldText>first_name_il</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>last_name_ia</name>
            <dataType>String</dataType>
            <fieldText>last_name_il</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>email_ia</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>email_il</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>phone_ia</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>phone_il</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>testcontact_ia</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>test_contact_var_ia</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Test_Contact__c</objectType>
    </variables>
</Flow>
