force-app/main/default/flows/test_contact_creation_flow_1_ia.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>test_contact_info_assignment_ia</name>
        <label>test contact info assignment_il</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>test_contact_Info_ia.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>first_name_ia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>test_contact_Info_ia.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>last_name_ia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>test_contact_Info_ia.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email_ia.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>test_contact_Info_ia.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone_ia.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>finish_screen_ia</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>test contact creation flow_1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test contact creation flow_1_il</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>contact_input_ia</name>
        <label>contact_input_il</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>test_contact_info_assignment_ia</targetReference>
        </connector>
        <fields>
            <name>first_name_ia</name>
            <dataType>String</dataType>
            <fieldText>first_name_il</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>last_name_ia</name>
            <dataType>String</dataType>
            <fieldText>last_name_il</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>email_ia</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>email_il</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>phone_ia</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>phone_il</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>finish_screen_ia</name>
        <label>finish_screen_il</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finish_screen_s_ia</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(8, 214, 255);&quot;&gt;Your test contact created successfully&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_screen_ia</name>
        <label>welcome screen_il</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>contact_input_ia</targetReference>
        </connector>
        <fields>
            <name>welcome_screen_1_ia</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(183, 0, 255); font-size: 20px;&quot;&gt;welcome to contact creation window&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>welcome_screen_ia</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>test_contact_Info_ia</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Test_Contact__c</objectType>
    </variables>
</Flow>
